.root {
    -fx-background-image: url("/png/BackgroundStart.png");
    /* -fx-background-color: linear-gradient(to bottom, #0033cc, #0059b3); */
}

.Rectangle {
    -fx-background-image: url("/png/Rectangle.png");
    -fx-background-color: #CBC9BF;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position:relative; 
}

.start {
    
    -fx-background-image: url("/png/sceneRT.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.button-start{
    -fx-background-color: #092173; 
    -fx-text-fill: white;
    -fx-font-size: 20px; 
    -fx-font-style: Semi Bold Italic; 
    -fx-font-weight: bold;
    -fx-border-radius: 10px
}
.button-golongan{
    -fx-background-color: #CBC9BF; 
    -fx-border-radius: 7px;
    -fx-padding: 10px 20px 10px 20px;   
}
.button-kategori{
    -fx-pref-width: 200px;
    -fx-background-color: #CBC9BF; 
    -fx-text-fill: black; 
    -fx-font-size: 16px; 
    -fx-font-family: "Semi Bold Italic"; 
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
}
.button-list{
    -fx-background-color: #CBC9BF; 
    -fx-text-fill: black; 
    -fx-font-size: 16px; 
    -fx-font-family: 'Semi Bold Italic'; 
    -fx-background-radius: 10; 
    -fx-font-weight: bold;
}
.button-listC{
    -fx-background-color: #CBC9BF; 
    -fx-text-fill: red; 
    -fx-font-size: 16px; 
    -fx-font-family: 'Semi Bold Italic'; 
    -fx-background-radius: 10; 
    -fx-font-weight: bold;
}

/*rumahT, industri, pemerintah*/
.labelAtas{
    -fx-background-color: #4A4942; 
    -fx-text-fill: white; 
    -fx-font-size: 16px; 
    -set-font-family : Semi Bold Italic;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
}

/* Styles.css */
.table-view {
    -fx-background-color: #89CFF0; /* Baby blue */
}

.table-row-cell:odd {
    -fx-background-color: #e0f7fa; /* Lighter baby blue for odd rows */
}

.table-row-cell:even {
    -fx-background-color: #b3e5fc; /* Slightly darker baby blue for even rows */
}

.table-row-cell:focused, .table-row-cell:selected {
    -fx-background-color: #82b1ff; /* Different shade for selected and focused rows */
}


